charset-normalizer
# cpp2python
dnspython
flask-pymongo
fyers-apiv2
get-nse-daily
gunicorn
imutils
jupyterlab
matlab
matplotlib
mysql-connector
mysql-connector-python
nsepy
opencv-python
pip-chill
plotly-express
pywhatkit
selenium
smartapi-python
streamlit
telebot
telethon
truedata-ws
twilio
websocket
